<!DOCTYPE html>
{% extends 'root/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>user login</title>
</head>


<body>
 {% block content %}

            <div class="login-container">
                <img src="{% static 'images/lgin.png' %}" alt="Logo" class="login-logo">
                <h5>ayigo.API.01</h5>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">

                        <div class="input-group">
                            <span class="input-group-text">
                            <i class="bi bi-person"></i> <!-- Bootstrap Icons -->
                          </span>
                            <input type="text" placeholder="Username" class="form-control" id="username" required />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">
                            <i class="bi bi-lock"></i> <!-- Bootstrap Icons -->
                          </span>
                            <input type="password" placeholder="Password" class="form-control" id="password" required />
                        </div>
                      
                    </div>
                    <button type="submit" class="login-btn">Login</button>
                </form>
                <a href="#" class="forgot-password">Forgot Password?</a>
              </div>
       
    
       

  
          
   

{% endblock %}
</body>
</html>

